@{
    ViewBag.Title = "Webpack Client Rendering Demo";
}

<div class="row">
    <div class="col-md-12">
        <h1>WebPack Client Rendering Demo</h1>
        <p>
            <strong>Warning</strong>: This demo will work only with WebPack. Read the Scripts/Webpack/README.txt file for details.
        </p>
        <p>
            Active Query Builder starts immediately on the page load.
        </p>
    </div>
    <div class="col-md-12">
        <div id="qb"></div>
        <div class="qb-ui-layout">
            <div class="qb-ui-layout__top">
                <div class="qb-ui-layout__left">
                    <div class="qb-ui-structure-tabs">
                        <div class="qb-ui-structure-tabs__tab">
                            <input type="radio" id="tree-tab" name="qb-tabs" checked />
                            <label for="tree-tab">Database</label>
                            <div class="qb-ui-structure-tabs__content">
                                <div id="treeview"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="qb-ui-layout__right">
                    <div id="navbar"></div>
                    <div id="canvas"></div>
                    <div id="statusbar"></div>
                    <div id="grid"></div>
                </div>
            </div>
            <div class="qb-ui-layout__bottom">
                <div id="sql"></div>
            </div>
        </div>
    </div>
</div>

<script src="index.js"></script>
